absl-py==2.3.0
affine==2.4.0
aiobotocore
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
alabaster
alembic
altair
annotated-doc==0.0.4
annotated-types
anyio==4.12.1
appdirs==1.4.4
applaunchservices
appnope
appscript
archspec
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens
astunparse==1.6.3
async-lru
asyncssh
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
blis==1.3.3
blurhash==1.1.5
bokeh
boltons
botocore
Bottleneck
branca==0.8.2
Brotli
cachetools
catalogue==2.0.10
category_encoders==2.9.0
cattrs
certifi
cffi
chardet
charset-normalizer
click==8.3.1
click-plugins==1.1.1.2
cligj==0.7.2
cloudpathlib==0.23.0
cloudpickle
colorama
colorcet
comm
conda
confection==0.1.5
constantly
contextily==1.6.2
contourpy
cookiecutter
cryptography
cssselect
cycler
cymem==2.0.13
cytoolz
dacite==1.9.2
dask
dask-expr
datashader
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
distro
dmglib
docstring-to-markdown
docutils
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
entrypoints==0.4
et-xmlfile
executing
fastapi==0.135.1
fastjsonschema
feedparser==6.0.12
filelock
flake8
Flask
flatbuffers==25.2.10
folium==0.20.0
fonttools
fqdn==1.5.1
frozendict
frozenlist
fsspec
gast==0.6.0
gensim
geographiclib==2.1
geopandas==1.1.1
geopy==2.4.1
gitdb
GitPython
google-ai-generativelanguage==0.6.15
google-api-core==2.30.0
google-api-python-client==2.191.0
google-auth==2.48.0
google-auth-httplib2==0.3.0
google-genai==1.65.0
google-generativeai==0.8.6
google-pasta==0.2.0
googleapis-common-protos==1.72.0
graphviz==0.21
greenlet
grpcio==1.73.1
grpcio-status==1.71.2
h11
h5py
HeapDict
hide-code==0.7.0
holoviews
htmlmin==0.1.12
httpcore
httplib2==0.31.2
httptools==0.7.1
httpx==0.28.1
hvplot
hyperlink
idna
imagecodecs
ImageHash==4.3.1
imageio
imagesize
imbalanced-learn==0.14.1
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipython_pygments_lexers
ipywidgets
isoduration==20.11.0
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jiter==0.13.0
jmespath
joblib==1.5.3
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras==3.10.0
keyring
kiwisolver
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
libclang==18.1.1
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lsprotocol
lxml
lz4
Mako
Markdown
markdown-it-py
MarkupSafe
Mastodon.py==2.1.4
matplotlib==3.9.2
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mercantile==1.2.1
missingno==0.5.2
mistune
ml_dtypes==0.5.1
more-itertools
mpmath
msgpack
multidict
multimethod==1.12
multipledispatch
murmurhash==1.0.15
mypy
mypy-extensions
namex==0.1.0
navigator-updater
nb_conda_kernels
nbclassic==1.3.3
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy==1.26.4
numpydoc
openai==2.24.0
opencv-python==4.11.0.86
openpyxl
opt_einsum==3.4.0
optree==0.16.0
osmnx==2.0.6
overrides
packaging
pandas
pandoc==2.4
pandocfilters
panel
param
parsel
parso
partd
pathspec
patsy
pdfkit==1.0.0
pexpect
phik==0.12.4
pickleshare
pillow
pkce
pkginfo
platformdirs
plotly
pluggy
plumbum==1.9.0
ply
preshed==3.0.12
prettytable==3.17.0
prometheus-client
prompt-toolkit
propcache
Protego
proto-plus==1.27.1
protobuf
psutil
psycopg2-binary==2.9.11
ptyprocess
pure-eval
puremagic==1.29
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic==2.12.5
pydantic-settings
pydantic_core==2.41.5
pydeck
PyDispatcher
pydocstyle
pyerfa
pyflakes
PyGithub
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-CoreServices
pyobjc-framework-FSEvents
pyodbc
pyogrio==0.11.1
pyOpenSSL
pyparsing
pyproj==3.7.2
PyQt5-sip
PyQt6==6.9.1
PyQt6-WebEngine==6.9.0
PyQt6_sip
PySide6==6.9.2
PySocks
pytest
python-dateutil
python-dotenv==1.2.2
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-ruff
python-lsp-server
python-magic==0.4.27
python-slugify
pytoolconfig
pytz
pyuca
pyviz_comms
PyWavelets
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
rasterio==1.4.3
readchar
referencing
regex
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
rsa==4.9.1
Rtree
ruamel-yaml-conda
ruamel.yaml
ruamel.yaml.clib
ruff
s3fs
scikit-image
scikit-learn==1.8.0
scipy
Scrapy
seaborn
semver
Send2Trash
sentry-sdk
service-identity
setuptools==75.1.0
sgmllib3k==1.0.0
shapely==2.1.2
shellingham
shiboken6==6.9.2
sip
six
sklearn-compat==0.1.5
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
srsly==2.5.2
stack-data
starlette==0.52.1
statsmodels
streamlit
streamlit-folium==0.26.1
superqt
sympy
tables
tabulate
tangled-up-in-unicode==0.2.0
tblib
tenacity
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==3.1.0
terminado
text-unidecode
textdistance
thinc==8.3.10
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
toml
tomli
tomlkit
toolz
tornado
tqdm
traitlets
truststore
Twisted
typeguard==4.4.3
typer==0.24.1
typer-slim==0.24.0
typing-inspection==0.4.2
typing_extensions
tzdata
uc-micro-py
ujson
unicodedata2
Unidecode
uri-template==1.3.0
uritemplate==4.2.0
urllib3
uvicorn==0.41.0
uvloop==0.22.1
vaderSentiment==3.3.2
w3lib
wasabi==1.1.3
watchdog
watchfiles==1.1.1
wcwidth
weasel==0.4.3
webcolors==24.11.1
webencodings
websocket-client
websockets==16.0
Werkzeug
whatthepatch
wheel==0.44.0
widgetsnbextension
wordcloud==1.9.4
wrapt
wurlitzer
xarray
xgboost==3.0.2
xlwings
xyzservices
yapf
yarl
ydata-profiling==4.16.1
zict
zipp
zope.interface
zstandard
