fastapi==0.135.1
feedparser==6.0.12
geopy==2.4.1
mastodon_py==2.1.4
pandas==3.0.1
pydantic==2.12.5
python-dotenv==1.2.2
Requests==2.32.5
spacy==3.8.11
SQLAlchemy==2.0.34
uvicorn==0.41.0
vaderSentiment==3.3.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
